*{
    margin: 0;
    box-sizing: border-box;
}
body{background-color: #101010;}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    background-color: #353535;
    padding: 10px;
    line-height: 40px;
    border-radius: 60px;
    cursor: pointer;
}
.search-input{
    outline: none;
    background-color: #353535;
    color: #fff;
    border: none;
    line-height: 40px;
    width: 0px;
    float: left;
    font-size: 1rem;
    transition: .7s ease;
}
/* icon */
.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #353535;
    padding: 12px;
    border-radius: 50%;
    float: right;
    color: #22ffc0;
    transition: .4s ease;
}
.search-box:hover > .search-input,
.search-input:focus{
    width: 240px;
    margin: 0 8px;
}
.search-box:hover > .search-btn,
.search-input:focus+ .search-btn{
    background: #22ffc0;
    color: #101010;
}
